.ui-multiselect
{
	box-sizing: border-box;
	width: 100%;
	font-size: 16px;
	.ui-multiselect-selections
	{
		padding: 2px 0;
		cursor: text;
		.ui-multiselect-selected
		{
			float: left;
			margin: 1px 2px;
			padding: 2px 2px;
			.ui-multiselect-close
			{
				cursor: pointer;
			}
			&.ui-state-disabled
			{
				background: #e9ecef;
  				border: 1px solid #666;
			}
			&.ui-state-readonly
			{
				background: #9dccfb;
   				border: 1px solid #666;
			}
		}
		.ui-multiselect-search-wrapper
		{
			display: block;
    		overflow: hidden;
    		padding: 3px;
    		position: relative;
    		.ui-multiselect-search
			{
				border: none;
				background-color: transparent;
				outline: 0;
				width: 101%;
				margin: 0;
				padding: 0;
			}
		}
		.clear-fix
		{
			float: none;
			clear: both;
			margin: 0;
			padding: 0;
			height: 1px;
			width: 100%;
		}
	}

	.ui-multiselect-choices
	{
		position: relative !important;
		.ui-menu
		{
			position: absolute !important;
			width: 100%;
			.ui-menu-item
			{
				padding-left: 20px;
			}
		}
	}
}

