

/*
* supplied for convenience as a full width wraper that will center the pager
* it is not necessary to use this class on the wrapping element 
*/
.jQpagerToolbar-wrapper{
	width: 100%;
}

/*
* main class applied to all pagers
*/
.jQpagerToolbar{
	display		: inline-block;
	margin		: 0 auto;
	box-sizing	: border-box;
	text-align	: center;
	font-size	: 1em;
	line-height: 1em;
}


.jQpagerToolbar *{
	box-sizing	: border-box;	
}

.jQpagerToolbar i{
	width: 1.25em;
	padding: 0.1em;
	cursor: pointer;
}

div.jQpagerToolbar-input_button{
	display : inline-block;
	font-size: 1em;
	line-height: 1em;
	vertical-align:middle;
	font-weight: 400;
	
	cursor: pointer;
}


input[type="text"].jQpagerToolbar-input_text{
	display : inline;
	font-size: 0.9em;
	height: 1.25em;
	line-height: 1em;
	vertical-align:middle;
	outline : 0 none;
	font-weight: 400;
	
	text-align	: center;
	padding : 0.1em 0.1em;
	margin : 0 0.1em;	
}

::-webkit-input-placeholder {/* chrome */
	font-size: 0.9em;
	font-weight: 400;
}

:-moz-placeholder { /* Firefox 18- */
	font-size: 0.9em; 
	font-weight: 400;   
}

::-moz-placeholder {  /* Firefox 19+ */
	font-size: 0.9em;  
	font-weight: 400;
}

:-ms-input-placeholder {  /* MS IE */
	font-size: 0.9em; 
	font-weight: 400;
}

input[type="text"].jQpagerToolbar-input_text:focus{
	outline : 0 none;
}

dl.jQpagerToolbar-input_select{	
	text-align: left;
	display: inline-block;
	margin: 0;	
	position: relative;
	vertical-align:middle;
	
	height: 1.2em;
	font-size: 1em;
	line-height: 1em;
	font-weight: 400;
}

.jQpagerToolbar-input_select dt{
	height: 1.2em;
	line-height: 1em;	
	font-size: 1em;	
	font-weight: 400 
}

.jQpagerToolbar-input_select dt div{
	margin-right: 1.3em;
	cursor: pointer;
	text-indent: 0.2em;
	height: 1.2em;
	line-height: 1em;	
	font-size: 1em;	
	font-weight: 400;
	white-space: nowrap;
	overflow: hidden;
}

.jQpagerToolbar-input_select dt i{
	float: right;
	text-align: center;
}

.jQpagerToolbar-input_select dd{
	margin: 0;
	position: absolute;
	white-space: nowrap;
	display: none;
	min-width: 100px;
	z-index: 100;
}

.jQpagerToolbar-input_select dd div{	
	padding: 0 2em 0 0;
	height: 1em;
	font-size: 1em;
	line-height: 1em;
	font-weight: 400 ;
	height: 1.2em;
}

