.ui-multiselect {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
}
.ui-multiselect .ui-multiselect-selections {
  padding: 1px 3px;
}
.ui-multiselect .ui-multiselect-selections .ui-multiselect-selected {
  float: left;
  margin-right: 5px;
  padding: 1px 2px;
}
.ui-multiselect .ui-multiselect-selections .ui-multiselect-search-wrapper {
  display: block;
  overflow: hidden;
  padding: 3px;
}
.ui-multiselect .ui-multiselect-selections .ui-multiselect-search-wrapper .ui-multiselect-search {
  border: none;
  background-color: transparent;
  outline: none;
  width: 101%;
  margin: 0;
  padding: 0;
}
.ui-multiselect .ui-multiselect-selections .ui-multiselect-search-wrapper .ui-multiselect-search .ui-multiselect-ruler {
  display: none;
  padding: 0px;
}
.ui-multiselect .ui-multiselect-selections .clear-fix {
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  height: 1px;
  width: 100%;
}
.ui-multiselect .ui-multiselect-selections .ui-multiselect-ruler {
  padding: 0;
  display: none;
}
.ui-multiselect .ui-multiselect-choices {
  position: relative;
}
.ui-multiselect .ui-multiselect-choices .ui-menu-item {
  padding-left: 20px;
}
.ui-selectmenu-menu {
  display: block;
}
